@charset "utf-8";
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  /* margin: 50px 0px 25px;
  border-bottom: solid 3px #00aaa1; */
  display: inline-block;
  border-top: 0.5px solid #00aaa1;
  border-bottom: 0.5px solid #00aaa1;
  padding: 10px 0;
  margin: 50px 0 25px;
}
p {
  line-height: 28px;
}
/* google slides 埋め込み */
iframe {
  display: block;
  width: 90%;
  margin: 0 auto;
  aspect-ratio: 16/9;
}
.Gallery-container {
  margin-bottom: 50px;
}

/* membersページ ----------------------------- */
.members-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.members-flex-box__card {
  width: 25%;
  min-width: 200px;
  margin: 20px;
}
.members-flex-box__card__img {
  border-radius: 50%;
}

/* 以下コピペ -------------------------*/
.acd-check{
  display: none;
}
.acd-label{
  background: #333;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
}
.acd-content{
  border: 1px solid #333;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .5s;
  visibility: hidden;
  word-wrap: break-word
}
.acd-check:checked + .acd-label + .acd-content{
  height: max-content;
  opacity: 1;
  padding: 10px;
  visibility: visible;
  margin-top: 5px;
}